# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\danie\Year 1\Y3S1\Data Structures and Algorithms\Proj\CS201Proj\CS201Dan\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
